<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cid_digitale">

    <!-- Permessi base -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Fotocamera per foto danno / libretto -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Microfono (registrazione vocale) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:label="cid_digitale"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Flutter embedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
